@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/orange";

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  height: 100vh;
  min-height: 100%;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
